* {
  margin: 0;
  padding: 0;
}

body {font-family: "Varela Round"; overflow:auto;}
h1 { font-family: "Playfair Display";}
h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville";
}

.top {
  position: sticky;
  top: 0;
  background-color: white;
  z-index:998;
  overflow: hidden;
}

.top a {
  float: left;
  color: #7b19b086;
  text-align: center;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
  font-size: 20px;
  z-index:999
}

.top a:hover {
  color: #3a0855;
}

.card {
  z-index:1000;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.right {
  float:right!important;
}

.image {
  overflow: hidden;
}

.l-square {
  position: absolute;
  border-size: 5px;
  border-color: #6d556a;
  width: 400px;
  height: 200px;
  border-bottom-left-radius: 50%;
}

.r-square {
  position: absolute;
  border-size: 5px;
  border-color: #6d556a;
  width: 400px;
  height: 200px;
  border-top-right-radius: 50%;
}
